*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    background: linear-gradient(#0000004b, #00000073) , url(https://cdn.accentuate.cloud/images/1666656/Skinnydip-London_Hello-Kitty-And-Friends_Phone-Wallpaper-v1711554781111.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


.container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 15px;
    gap: 2rem;
    background-color: rgba(252, 158, 173, 0.897);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .9);
}

h1{
    margin-bottom: 10px;
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: .2px;
    font-weight: 700;
    text-transform: uppercase;
}

.box{
    font-size: 1.2rem;
    line-height: 1.2;
}

#number{
    font-weight: 700;
}

.buttons{
    display: flex;
    gap: .6rem;
}

.btn{
    background-color: #ffffffa9;
    padding: 15px 26px;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .3);
}

.btn:active{
    color:rgb(252, 158, 174) ;
    background-color: #fff;
}
