*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background:linear-gradient(#000000b0, #000000a6) , url(https://i.ytimg.com/vi/LUX22RGRBF8/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGGUgUihKMA8=&rs=AOn4CLDEpd3baIQ3zW-Wq_dRl1gGdKq-7A);
    background-size: cover;
    color: rgb(194, 187, 187);
    font-family: Arial, Helvetica, sans-serif;
}

div{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.buttons{
    display: flex;
    gap:1.5rem;
    margin-top: 10px;
}

button{
    width: 120px;
    height: 40px;
    cursor: pointer;
    font-weight: 600;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: .6px;
    background-color: rgba(248, 248, 248, 0.856);
    border: none;
}

button:hover{
    background-color: white;
}

.text{
    margin: 10px 0 0 0;
}

#producto{
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
}

